<!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    {{# breadcrumb}}
                                        {{#isLastOne}}
                                            <li class="list-inline-item">{{title}}</li>
                                        {{/isLastOne}}
                                        {{^isLastOne}}
                                            <li class="list-inline-item active">
                                                <a href="{{link}}">{{title}}</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                        {{/isLastOne}}
                                   
                                    {{/breadcrumb}}
                                </ul>
                            </div>
                            {{#addItemLink}}
                                <a href="{{addItemLink}}" class="au-btn au-btn-icon au-btn--green">
                                    <i class="zmdi zmdi-plus"></i>add item
                                </a>
                            {{/addItemLink}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- END BREADCRUMB-->