{{> admin-head}}
    <div class="page-wrapper">
        {{> admin-aside}}

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            {{> admin-header}}

            {{> admin-breadcrumb}}

            <section class="pt-5">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- USER DATA-->
                                asd
                                <!-- END USER DATA-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{> admin-footer}}
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

{{> admin-bottom}}