{{> admin-head}}
    <div class="page-wrapper">
        {{> admin-aside}}

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            {{> admin-header}}

            {{> admin-breadcrumb}}

            <section class="pt-5">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- USER DATA-->
                                <div class="user-data m-b-40">
                                    
                                    <h3 class="title-3 m-b-30">
                                        <i class="fa fa-{{icon}}"></i>{{title}}</h3>
                                    <form action="{{baseUrl}}/{{entitySlug}}/actions" method="POST">
                                    <div class="filters m-b-45">
                                        <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                            <select class="js-select2" name="action">
                                                <option selected="selected">---</option>
                                                {{#actions}}
                                                    <option value="{{id}}">{{title}}</option>
                                                {{/actions}}
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Execute</button>
                                    </div>
                                    <div class="table-responsive table-data">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox" name="selectedAll" value="all">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    {{#headers}}
                                                        <td>{{.}}</td>
                                                    {{/headers}}
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#items}}
                                                <tr>
                                                    <td>
                                                        <label class="au-checkbox">
                                                            <input type="checkbox" name="selectedItems" value="{{id}}">
                                                            <span class="au-checkmark"></span>
                                                        </label>
                                                    </td>
                                                    {{#props}}
                                                    <td>
                                                        {{{getValue}}}
                                                    </td>
                                                    {{/props}}
                                                    <td>
                                                        <div class="dropleft">
                                                            <button class="more" type="button" id="moreButtonDropDown-{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="moreButtonDropDown-{{id}}">
                                                                <a class="dropdown-item" href="#">edit</a>
                                                                <a class="dropdown-item" href="#">delete</a>
                                                                <a class="dropdown-item" href="#"></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {{/items}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="user-data__footer">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                                {{#pages}}
                                                {{#active}}
                                                <li class="page-item active">
                                                    <a class="page-link" href="{{link}}">{{{title}}} <span class="sr-only">(current)</span></a>
                                                </li>
                                                {{/active}}
                                                {{^active}}
                                                <li class="page-item">
                                                    <a class="page-link" href="{{link}}">{{{title}}}</a>
                                                </li>
                                                {{/active}}
                                                {{/pages}}
                                                {{! <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                                </li> }}
                                            </ul>
                                        </nav>
                                    </div>
                                    </form>
                                </div>
                                <!-- END USER DATA-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{> admin-footer}}
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

{{> admin-bottom}}